<h2 class="body_title_onecontact"><%= @contact.first_name %> <%= @contact.last_name %></h2>
<h4 class="print_all_contacts">
	<strong>Email:</strong> <%= @contact.email %><br />
	<strong>Note:</strong>
	<%= @contact.note %>
</h4>

<h4 class="delete_button">
	<a href= "/contacts/<%= @contact.id %>/edit">Edit Contact</a>
</h4>

<form class='delete_button' action='/contacts/<%= @contact.id %>' method='post'>
	<input type='hidden' name='_method' value='delete'>
	<input type='submit' value='Delete Contact'>
</form>
